__pycache__/
*.py[cod]
*$py.class
.env
.venv
!.venv/.gitkeep
env/
venv/
ENV/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sqlite3

.logs
!.logs/.gitkeep

media
!media/.gitkeep

static
!static/.gitkeep
