{% extends "base.html" %}
{% load static %}
{% block main %}

  <div class="row">
        <table class="highlight">
        <thead>
          <tr>
              <th>No. de Contrato</th>
              <th>Nombre de la Empresa</th>
              <th>Descripcion</th>
              <th>Tiene deuda?</th>
              <th>Monto de la deuda</th>
			  <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
		
		{% for e in clients_list %}
		{% if perms.misclientes.can_view %}
        <!-- Confirmacion con el Modal -->
        <div id="modalconfirmaciondelete" class="modal">
          <div class="modal-content">
            <h4>Desea realmente eliminar el Cliente?</h4>
            <p>Esta acción no será reversible</p> 
            
              
            
          </div>
          <div class="modal-footer">
            <form id="pkform" action="/delete/{{ e.id }}/" method="POST" > {% csrf_token %}
              <input type="hidden" name="myhide" value="{{ e.id }}" id="mypkvalue"> 
              <input type="submit" class="btn-flat waves-effect" value="Si" id="botonborrar">
              <input type="submit" class="modal-close btn-flat waves-effect" value="No" id="closeno">
            <form>     
          </div>
        </div>  
        <!--Fin del modal -->
		{% endif %}
        <tr>
            <td><span class="new badge indigo light" data-badge-caption="{{ e.contract }}"></span></td>
            <td><a href=" /clientdetail/{{ e.id }}/">{{ e.enterprise_name }}</a></td>
            <td>{{ e.enterprise_description }}</td>
			     
            {% if e.has_doubt %}
                <td><span class="new badge red" data-badge-caption="Si"></span></td>
                <td>{{ e.ammount_of_doubt }}</td>
				
                {% else %}
                    <td><span class="new badge green" data-badge-caption="No"></span></td><td></td>
            {% endif %}
	    {% if e.updated %}
		<td><span class="new badge blue" data-badge-caption="Actualizado"></span></td>
	    {% else %} 
		    <td><span class="new badge red" data-badge-caption="Sin actualizar!"></span></td>			      
	    {% endif %}
			{% if perms.misclientes.can_view %}
         <td>  
          <a class="modal-trigger tooltipped "data-tooltip="Eliminar" href="#modalconfirmaciondelete">
            <i class="small material-icons">delete</i>
          </a>
        
      {% endif %}
			</tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
 
	<div class="pagination">
	<span class="step-links">
	{% if page_obj.has_previous %}
	<a href="?page=1">&laquo; Primero</a>
	<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	{% endif %}
	<span class="current">
	Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
	</span>
	{% if page_obj.has_next %}
	<a href="?page={{ page_obj.next_page_number }}">Proximo</a>
	<a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo; </a>
	{% endif %}
	</span>
	</div>

{% endblock %}

 {% block ayuda %}
  <div class="tap-target" data-target="menu">
      <div class="tap-target-content">
        <h5>Clientes</h5>
		     Es el listado de todos los clientes que estan registrado en la base de datos. 
        <p>Contiene la opcion de eliminar el Cliente. Esta accion no es reversible.</p>
        </div>
  </div>
{% endblock %}

